table,th,td{
    border: 2px solid black; 
    border-collapse: collapse;
}
th,td{
    background-color: green;
    border-radius: 10px;
    border-color: white;
}
tr:nth-child(even){
    background-color: pink;
}