@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
.main,.sub__main{
    display: flex;
    flex-direction: row;
}
.sub__main{
    justify-content: space-around;
} */
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.sub{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.sub li{
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 20px;
    
}
th,td{
    margin: 20px;
    padding: 20px;
   border-radius: 50%;
   border-radius: 5px;
   /* max-width: fit-content; */
   max-width: 50%;
}
.search1{
    text-decoration: none;
    color: white;
    background-color: black;
}
.second{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 15px 0 4px 0;
}
